# ====================
# FRONTEND - React + Vite
# ====================
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/*.log
/frontend/.vite

# ====================
# BACKEND - FastAPI
# ====================
/backend-fastapi/*.py[cod]
**/__pycache__/
/backend-fastapi/venv/
/backend-fastapi/.env
/backend-fastapi/*.log

# ====================
# BACKEND - Spring Boot
# ====================
/backend-springboot/target/
/backend-springboot/*.log
/backend-springboot/*.iml
/backend-springboot/.idea/

# ====================
# GENERAL
# ====================
# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs (global)
*.log

/backend_mongoose