services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: vstats
      POSTGRES_PASSWORD: vstats
      POSTGRES_DB: vstats
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/db_init_postgres.sql:/docker-entrypoint-initdb.d/db_init_postgres.sql

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  springboot:
    build:
      context: ./backend-springboot
      dockerfile: Dockerfile
    container_name: springboot
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  # fastapi:
  #   build:
  #     context: ./backend-fastapi
  #     dockerfile: Dockerfile
  #   container_name: fastapi
  #   restart: always
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - postgres

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - springboot
    #   - fastapi

volumes:
  postgres_data:
  mongo_data:
